.backDrop {
  width: 100vw;
  height: 100vh;
  background-color: #00000093;
  position: fixed;
  top: 0px;
  right: 0px;
}
.offCanvasMenu {
  position: fixed;
  top: 0px;
  right: 0px;
  width: min(100%, 570px);
  height: 100vh;
  background-color: #19191c;
  transform: translateX(500px);
  opacity: 0;
  padding: 5rem 1rem 0rem;
  z-index: 2;
}
.offCanvasMenu > form {
  display: flex !important;
  flex-flow: column-reverse;
}
.offCanvasMenu > form input {
  width: 100%;
  margin: 1rem 0rem;
  padding: 0.8rem;
}
.offCanvasMenu > form input::placeholder {
  font-size: 0.9rem;
}
.offCanvasMenu > form select {
  padding: 1rem;
}

.translate-reset {
  animation: translateReset 0.3s ease-out 0.1s 1 normal forwards;
}

@keyframes translateReset {
  20% {
    opacity: 0.2;
    transform: translateX(400px);
  }
  40% {
    opacity: 0.4;
    transform: translateX(300px);
  }
  60% {
    opacity: 0.6;
    transform: translateX(200px);
  }
  80% {
    opacity: 0.8;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
