.coin-image {
  width: calc(1vw + 2rem);
  height: calc(1vw + 2rem);
  max-width: 45px;
  max-height: 45px;
}
.coin-name {
  margin: 0;
  font-size: calc(1vw + 0.9rem);
}

@media all and (min-width: 768px) {
  .coin-name {
    margin: 0px 0px 0px 0rem !important;
  }
}

@media all and (min-width: 1400px) {
  .coin-name {
    margin: 0px 0px 0px 0rem;
    font-size: 1.1rem;
  }
}
